# Junk/cache files.
*Thumbs.db
tmp/cache/*---*
*.DS_Store
*.apdisk
.vagrant
.idea
/ubuntu-*-console.log
.phplint-cache

# Local development files.
/backend/config/routes.dev.php
/azurarelay.env

# Composer-generated content
/vendor/

# Docker files
/docker-compose.yml
/docker-compose.override.yml
