version: '2.2'

services:
  relay:
    image: azuracast/azurarelay:latest
    env_file: azurarelay.env
    volumes:
      - letsencrypt:/etc/letsencrypt
      - tmp_data:/var/azurarelay/www_tmp
      - station_data:/var/azurarelay/stations
    ports:
     - '${AZURARELAY_HTTP_PORT:-80}:80'
     - '${AZURARELAY_HTTPS_PORT:-443}:443'
     - '8000:8000'
     - '8010:8010'
     - '8020:8020'
     - '8030:8030'
     - '8040:8040'
     - '8050:8050'
     - '8060:8060'
     - '8070:8070'
     - '8090:8090'
     - '8100:8100'
     - '8110:8110'
     - '8120:8120'
     - '8130:8130'
     - '8140:8140'
     - '8150:8150'
     - '8160:8160'
     - '8170:8170'
     - '8180:8180'
     - '8190:8190'
     - '8200:8200'
     - '8210:8210'
     - '8220:8220'
     - '8230:8230'
     - '8240:8240'
     - '8250:8250'
     - '8260:8260'
     - '8270:8270'
     - '8280:8280'
     - '8290:8290'
     - '8300:8300'
     - '8310:8310'
     - '8320:8320'
     - '8330:8330'
     - '8340:8340'
     - '8350:8350'
     - '8360:8360'
     - '8370:8370'
     - '8380:8380'
     - '8390:8390'
     - '8400:8400'
     - '8410:8410'
     - '8420:8420'
     - '8430:8430'
     - '8440:8440'
     - '8450:8450'
     - '8460:8460'
     - '8470:8470'
     - '8480:8480'
     - '8490:8490'

volumes:
  letsencrypt: {}
  station_data: {}
  tmp_data: {}